<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Venus.Data.IDatabase,Venus.Data" />
    <typeAlias alias="EFDatabase" type="Venus.Data.EF.Database,Venus.Data.EF" />
     <typeAlias alias="DapperDatabase" type="Venus.Data.Dapper.SqlDatabase,Venus.Data.Dapper" />
    <typeAlias alias="IDbContext" type="Venus.Data.EF.IDbContext,Venus.Data.EF" />
    <typeAlias alias="MySql" type="Venus.Data.EF.MySqlDbContext,Venus.Data.EF" />
    <typeAlias alias="SqlServer" type="Venus.Data.EF.SqlServerDbContext,Venus.Data.EF" />
  
    <!--<typeAlias alias="SqlServer" type="Venus.Data.Dapper.SqlDataBase,Venus.Data.Dapper" />-->
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <!--<type type="IDbContext" mapTo="MySql" name="MySql"></type >-->
    </container>
  </containers>
</unity>